<style>
p{
font-size:10px;

}
marquee{
color:black;
background-color:black;
height:200x;
width:305px;
border-Radius:0% 25% 100% 50%;
display:flex;
padding:0px;
font-family:Algerian;
font-size:15px;
border-style:solid;
border-width:5px;
}
body{
color:#00BFFF;
background-color:lightGreen;
font-size:25;
}

.box{

font-size:10xp
border-color:pink;
backgoroud-:flex;
background-image:url("anime9.gif");
border-style:solid;
border-width:5px;
margin: 0px;
padding:9px;
height:110px;
width:335px;
border-background:black;
font-family:Algerian;
background-color:white;
border-Radius:0% 0% 0% 0%;
}
.box2{
font-size:10xp
border-color:pink;
background-repeat:no-repeat;
background-position:left;
background-position:210px;
background-size:contain;
background-color:white;
border-style:solid;
border-width:5px;
margin: 0px;
padding:9px;
height:200px;
width:335px;
border-background:black;
font-family:Algerian;
border-Radius:0% 0% 0% 0%;
}

p{
font-size:15px;
}
marquee{
color:black;
background-color:#00BFFF;
height:200x;
width:325px;
border-Radius:0% 25% 50% 50%;
display:flex;
padding:0px;
font-family:Algerian;
font-size:15px;
border-style:solid;
border-width:5px;
}

video{
border-style:solid;
border-width:5px;
border-color:red;
width:150px;
height:100px;
herf{
border-color:pink;
}

</style>